body {background-color:rgb(47, 189, 255);}
h1{color:blue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: x-large; border: 3dvb; padding: 2cm; margin: auto;}
h2{color:green;}
p{color:red;}
